{% extends 'base.html.twig' %}
{% block body %}
	
	<div class="row">
		<div class="col-md-10 offset-md-1">
			<div class="row">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- snipp1 -->
				<!-- 	<ins class="adsbygoogle" -->
				<!-- 	     style="display:block" -->
				<!-- 	     data-ad-client="ca-pub-9155049400353686" -->
				<!-- 	     data-ad-slot="4807425052" -->
				<!-- 	     data-ad-format="auto" -->
				<!-- 	     data-full-width-responsive="true"></ins> -->
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
				<!-- = = = = C A R D = = = = =  -->
				<div class="col-md-6 col-sm-6 col-lg-4">
					<div class="card-container">
						<div class="card">
							<div class="front">
								<div class="cover">
									<img src="{{ asset ('img/foot.jpg') }}"/>
								</div>
								<div class="content">
									<div class="main">
										<h3 class="asintColor text-center">Foot</h3>
										<p class="text-center">
											Le foot c'est vraiment bien !
										</p>
									</div>
									<div class="footer">
										<h6 class="asintColor">voir le responsable →</h6>
									</div>
								</div>
							</div> <!-- end front panel -->
							<div class="back">
								<div class="header">
									<h5 class="asintColor text-center" style="font-size:16px;">Responsable Foot</h5>
								</div>
								<div class="content">
									<div class="main">
										<div class="profilePicture">
											<img src="{{ asset('img/Louis.jpg') }}"/>
										</div>
										<h4 class="text-center asintColor">Contact</h4>
										<div class="social-links text-center">
										<div class="row">
											<div class="offset-1 col-10">
												<div class="row">
													<div class="col-4" name="facebook">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="https://www.facebook.com/youyou.asint">
								                      		<i class="fab fa-facebook" style="font-size:32px;"></i>
								                      	</a>
													</div>
													<div class="col-4" name="instagram">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="https://www.instagram.com/youyouasint/">
									                      	<i class="fab fa-instagram" style="font-size:32px;"></i>
									                    </a>
													</div>
													<div class="col-4" name="linkedIn">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="https://www.linkedin.com/company/asint-imtbs-tsp/about/">
			                    							<i class="fab fa-linkedin" style="font-size:32px;"></i>
			                      						</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									</div>
								</div>
							</div> <!-- end back panel -->
						</div> <!-- end card -->
					</div> <!-- end card-container -->
				</div> <!-- end col sm 3 -->
				<!-- = = = =  E N D   C A R D = = = = =  -->
				<!-- = = = = C A R D = = = = =  -->
				<div class="col-md-6 col-sm-6 col-lg-4">
					<div class="card-container">
						<div class="card">
							<div class="front">
								<div class="cover">
									<img src="{{ asset ('img/foot.jpg') }}"/>
								</div>
								<div class="content">
									<div class="main">
										<h3 class="asintColor text-center">Foot</h3>
										<p class="text-center">
											Le foot c'est vraiment bien !
										</p>
									</div>
									<div class="footer">
										<h6 class="asintColor">voir le responsable →</h6>
									</div>
								</div>
							</div> <!-- end front panel -->
							<div class="back">
								<div class="header">
									<h5 class="asintColor text-center" style="font-size:16px;">Responsable Foot</h5>
								</div>
								<div class="content">
									<div class="main">
										<div class="profilePicture">
											<img src="{{ asset('img/Louis.jpg') }}"/>
										</div>
										<h4 class="text-center asintColor">Contact</h4>
										<div class="social-links text-center">
										<div class="row">
											<div class="offset-1 col-10">
												<div class="row">
													<div class="col-4" name="facebook">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="https://www.facebook.com/youyou.asint">
								                      		<i class="fab fa-facebook" style="font-size:32px;"></i>
								                      	</a>
													</div>
													<div class="col-4" name="instagram">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="https://www.instagram.com/youyouasint/">
									                      	<i class="fab fa-instagram" style="font-size:32px;"></i>
									                    </a>
													</div>
													<div class="col-4" name="linkedIn">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="https://www.linkedin.com/company/asint-imtbs-tsp/about/">
			                    							<i class="fab fa-linkedin" style="font-size:32px;"></i>
			                      						</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									</div>
								</div>
							</div> <!-- end back panel -->
						</div> <!-- end card -->
					</div> <!-- end card-container -->
				</div> <!-- end col sm 3 -->
				<!-- = = = =  E N D   C A R D = = = = =  -->
				<!-- = = = = C A R D = = = = =  -->
				<div class="col-md-6 col-sm-6 col-lg-4">
					<div class="card-container">
						<div class="card">
							<div class="front">
								<div class="cover">
									<img src="{{ asset ('img/foot.jpg') }}"/>
								</div>
								<div class="content">
									<div class="main">
										<h3 class="asintColor text-center">Foot</h3>
										<p class="text-center">
											Le foot c'est vraiment bien !
										</p>
									</div>
									<div class="footer">
										<h6 class="asintColor">voir le responsable →</h6>
									</div>
								</div>
							</div> <!-- end front panel -->
							<div class="back">
								<div class="header">
									<h5 class="asintColor text-center" style="font-size:16px;">Responsable Foot</h5>
								</div>
								<div class="content">
									<div class="main">
										<div class="profilePicture">
											<img src="{{ asset('img/Louis.jpg') }}"/>
										</div>
										<h4 class="text-center asintColor">Contact</h4>
										<div class="social-links text-center">
										<div class="row">
											<div class="offset-1 col-10">
												<div class="row">
													<div class="col-4" name="facebook">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="https://www.facebook.com/youyou.asint">
								                      		<i class="fab fa-facebook" style="font-size:32px;"></i>
								                      	</a>
													</div>
													<div class="col-4" name="instagram">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="https://www.instagram.com/youyouasint/">
									                      	<i class="fab fa-instagram" style="font-size:32px;"></i>
									                    </a>
													</div>
													<div class="col-4" name="linkedIn">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="https://www.linkedin.com/company/asint-imtbs-tsp/about/">
			                    							<i class="fab fa-linkedin" style="font-size:32px;"></i>
			                      						</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									</div>
								</div>
							</div> <!-- end back panel -->
						</div> <!-- end card -->
					</div> <!-- end card-container -->
				</div> <!-- end col sm 3 -->
				<!-- = = = =  E N D   C A R D = = = = =  -->
				<!-- = = = = C A R D = = = = =  -->
				<div class="col-md-6 col-sm-6 col-lg-4">
					<div class="card-container">
						<div class="card">
							<div class="front">
								<div class="cover">
									<img src="{{ asset ('img/foot.jpg') }}"/>
								</div>
								<div class="content">
									<div class="main">
										<h3 class="asintColor text-center">Foot</h3>
										<p class="text-center">
											Le foot c'est vraiment bien !
										</p>
									</div>
									<div class="footer">
										<h6 class="asintColor">voir le responsable →</h6>
									</div>
								</div>
							</div> <!-- end front panel -->
							<div class="back">
								<div class="header">
									<h5 class="asintColor text-center" style="font-size:16px;">Responsable Foot</h5>
								</div>
								<div class="content">
									<div class="main">
										<div class="profilePicture">
											<img src="{{ asset('img/Louis.jpg') }}"/>
										</div>
										<h4 class="text-center asintColor">Contact</h4>
										<div class="social-links text-center">
										<div class="row">
											<div class="offset-1 col-10">
												<div class="row">
													<div class="col-4" name="facebook">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="https://www.facebook.com/youyou.asint">
								                      		<i class="fab fa-facebook" style="font-size:32px;"></i>
								                      	</a>
													</div>
													<div class="col-4" name="instagram">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="https://www.instagram.com/youyouasint/">
									                      	<i class="fab fa-instagram" style="font-size:32px;"></i>
									                    </a>
													</div>
													<div class="col-4" name="linkedIn">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="https://www.linkedin.com/company/asint-imtbs-tsp/about/">
			                    							<i class="fab fa-linkedin" style="font-size:32px;"></i>
			                      						</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									</div>
								</div>
							</div> <!-- end back panel -->
						</div> <!-- end card -->
					</div> <!-- end card-container -->
				</div> <!-- end col sm 3 -->
				<!-- = = = =  E N D   C A R D = = = = =  -->
				<!-- = = = = C A R D = = = = =  -->
				<div class="col-md-6 col-sm-6 col-lg-4">
					<div class="card-container">
						<div class="card">
							<div class="front">
								<div class="cover">
									<img src="{{ asset ('img/foot.jpg') }}"/>
								</div>
								<div class="content">
									<div class="main">
										<h3 class="asintColor text-center">Foot</h3>
										<p class="text-center">
											Le foot c'est vraiment bien !
										</p>
									</div>
									<div class="footer">
										<h6 class="asintColor">voir le responsable →</h6>
									</div>
								</div>
							</div> <!-- end front panel -->
							<div class="back">
								<div class="header">
									<h5 class="asintColor text-center" style="font-size:16px;">Responsable Foot</h5>
								</div>
								<div class="content">
									<div class="main">
										<div class="profilePicture">
											<img src="{{ asset('img/Louis.jpg') }}"/>
										</div>
										<h4 class="text-center asintColor">Contact</h4>
										<div class="social-links text-center">
										<div class="row">
											<div class="offset-1 col-10">
												<div class="row">
													<div class="col-4" name="facebook">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="https://www.facebook.com/youyou.asint">
								                      		<i class="fab fa-facebook" style="font-size:32px;"></i>
								                      	</a>
													</div>
													<div class="col-4" name="instagram">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="https://www.instagram.com/youyouasint/">
									                      	<i class="fab fa-instagram" style="font-size:32px;"></i>
									                    </a>
													</div>
													<div class="col-4" name="linkedIn">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="https://www.linkedin.com/company/asint-imtbs-tsp/about/">
			                    							<i class="fab fa-linkedin" style="font-size:32px;"></i>
			                      						</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									</div>
								</div>
							</div> <!-- end back panel -->
						</div> <!-- end card -->
					</div> <!-- end card-container -->
				</div> <!-- end col sm 3 -->
				<!-- = = = =  E N D   C A R D = = = = =  -->
				<!-- = = = = C A R D = = = = =  -->
				<div class="col-md-6 col-sm-6 col-lg-4">
					<div class="card-container">
						<div class="card">
							<div class="front">
								<div class="cover">
									<img src="{{ asset ('img/foot.jpg') }}"/>
								</div>
								<div class="content">
									<div class="main">
										<h3 class="asintColor text-center">Foot</h3>
										<p class="text-center">
											Le foot c'est vraiment bien !
										</p>
									</div>
									<div class="footer">
										<h6 class="asintColor">voir le responsable →</h6>
									</div>
								</div>
							</div> <!-- end front panel -->
							<div class="back">
								<div class="header">
									<h5 class="asintColor text-center" style="font-size:16px;">Responsable Foot</h5>
								</div>
								<div class="content">
									<div class="main">
										<div class="profilePicture">
											<img src="{{ asset('img/Louis.jpg') }}"/>
										</div>
										<h4 class="text-center asintColor">Contact</h4>
										<div class="social-links text-center">
										<div class="row">
											<div class="offset-1 col-10">
												<div class="row">
													<div class="col-4" name="facebook">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="https://www.facebook.com/youyou.asint">
								                      		<i class="fab fa-facebook" style="font-size:32px;"></i>
								                      	</a>
													</div>
													<div class="col-4" name="instagram">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="https://www.instagram.com/youyouasint/">
									                      	<i class="fab fa-instagram" style="font-size:32px;"></i>
									                    </a>
													</div>
													<div class="col-4" name="linkedIn">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="https://www.linkedin.com/company/asint-imtbs-tsp/about/">
			                    							<i class="fab fa-linkedin" style="font-size:32px;"></i>
			                      						</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									</div>
								</div>
							</div> <!-- end back panel -->
						</div> <!-- end card -->
					</div> <!-- end card-container -->
				</div> <!-- end col sm 3 -->
				<!-- = = = =  E N D   C A R D = = = = =  -->
				
			</div>
		</div>
	</div>
       	
	
	
	
	
	

<script>
   $().ready(function(){
        $('[rel="tooltip"]').tooltip();

    });

    function rotateCard(btn){
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if($card.hasClass('hover')){
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    }
</script>
{% endblock %} 