{% extends 'base.html.twig' %}
{% block body %}
	
	<div class="row">
		<div class="col-md-10 offset-md-1">
			<div class="row">
				{% for sport in sports %}
				<!-- = = = = C A R D = = = = =  -->
				<div class="col-md-4 col-sm-6">
					<div class="card-container">
						<div class="card">
							<div class="front">
								<div class="cover">
									<img src="{{ asset ('img/sport/' ~ sport.photo ) }}"/>
								</div>
								<div class="content">
									<div class="main">
										<h3 class="asintColor text-center">{{ sport.nom }}</h3>
										<p class="text-center">
											{{ sport.texte }}
										</p>
									</div>
									<div class="footer">
										<h6 class="asintColor">voir le responsable →</h6>
									</div>
								</div>
							</div> <!-- end front panel -->
							{% if sport.responsable %}
							<div class="back">
								<div class="header">
									<h5 class="asintColor text-center" style="font-size:16px;">Responsable {{ sport.nom }}</h5>
								</div>
								<div class="content">
									<div class="main">
										<div class="profilePicture">
											<img src="{{ asset('img/membre/' ~ sport.responsable.photo) }}"/>
										</div>
										<h4 class="text-center asintColor" style="padding-top:10px;">{{ sport.responsable.prenom }} {{ sport.responsable.nom }}</h4>
										<div class="social-links text-center">
										<div class="row">
											<div class="offset-1 col-10">
												<div class="row" style="padding-top:10px;">
													<div class="col-6" name="facebook">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="{{ sport.responsable.lienfb }}">
								                      		<i class="fab fa-facebook" style="font-size:32px;"></i>
								                      	</a>
													</div>
													<div class="col-6" name="instagram">
														<a class="col disableAEffect asintColor pLR10" target="_blank" href="{{ sport.responsable.lienInsta }}">
									                      	<i class="fab fa-instagram" style="font-size:32px;"></i>
									                    </a>
													</div>
												</div>
											</div>
										</div>
									</div>
									</div>
								</div>
							</div> <!-- end back panel -->
							{% endif %}
						</div> <!-- end card -->
					</div> <!-- end card-container -->
				</div> <!-- end col sm 3 -->
				<!-- = = = =  E N D   C A R D = = = = =  -->
				{% endfor %}
				
			
			</div>
		</div>
	</div>
       	
	
	
	
	
	

<script>
   $().ready(function(){
        $('[rel="tooltip"]').tooltip();

    });

    function rotateCard(btn){
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if($card.hasClass('hover')){
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    }
</script>
{% endblock %} 