{% extends 'base.html.twig' %}
{% block body %}
	<div class="row">
		<div class="col-12 col-lg-6" id="formulaire">
			<div class="row">
				<h1>Ajouter Evenement</h1>
				{{ form_start(form) }}
					<div class="form-group">
						<div class="col-12">
							{{ form_widget(form.nom, {'attr':{'class':'form-control form-control-sm', 'placeholder':'Nom'}}) }}
						</div>
						<div class="col-12">
							{{ form_widget(form.texte, {'attr':{'class':'form-control form-control-sm', 'placeholder':'Texte'}}) }}
						</div>
						<div class="col-12">
							{{ form_widget(form.date, {'attr':{'class':'form-control form-control-sm'}}) }}
						</div>
						<div class="col-12">
							{{ form_widget(form.fini, {'attr':{'class':'form-control form-control-sm', 'placeholder':'L\'évenement est-il fini ?'}}) }}
						</div>
						<div style="margin-top:20px;"></div>
						<button type="Submit" class="btn btn-primary">valdier</button>
					</div>
				{{ form_end(form) }}
			</div>
		</div>
		<div class="col-12 col-lg-6" id="liste">
			<div class="row">
			<h1>Liste Evenements</h1>
			{% for evenement in evenements %}
				<div class="col-11">
					<a href="{{ path('evenement', {idty:evenement.id }) }}" class="disableAEffect">
						<div class="row listMembre">
							<div class="imgZone col-2">
							</div>
							<div class="txtZone col-9">{{ evenement.id }} {{ evenement.nom }}</div>
						</div>
					</a>
				</div>
				<div class="col-1">
					<a href="{{ path('evenementDelete', {idty:evenement.id}) }}" onclick="return confirm('Voulez vous vraiment supprimer l\'évenement {{ evenement.nom }} ? ')"><i class="fas fa-trash asintColor" style="font-size:22px;margin-top:10px;"></i></a>
				</div>
			{% endfor %}	
		</div>
		</div>
	</div>
{% endblock %}