{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ app.user.username }}! ✅</h1>
	
	<h1><a href="{{ path('membre') }}">Membre</a></h1>
	
	<h1><a href="{{ path('sport') }}">Sports</a></h1>
	
	<h1><a href="{{ path('club') }}">Clubs</a></h1>
	
	<h1><a href="{{ path('listeCotis') }}">Cotisations</a></h1>
	
	<h1><a href="{{ path('app_register') }}">Users</a></h1>
	
	<h1><a href="{{ path('partenaire') }}">Partenaires</a></h1>
	
	<h1><a href="{{ path('evenement') }}">Evenements</a></h1>

	<h1><a href="{{ path('year') }}">Année</a></h1>
		
	<h1><a href="{{ path('changeHomeImage') }}">Changer l'image d'accueil</a></h1>

</div>
{% endblock %}
